<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= params['name'] %>'s Profile</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <style>
      body {
        background-color: <%= params['color'] %>;
        }
      #color {
        color: <%= params['color'] %>;
      }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <%= yield %>
  </body>
</html>
